/* Navbar section start */

.btn-green{
    background: #1090CB !important;
    color: white;


}
/* Navbar section end */


/* Hero section start */

.blue{
    color: blue;
}
.btn-green{
    background: #1090CB !important;
    color: white;


}
.btn-white{
    background-color: white;
    color: blue;
}

/* Hero section end */

/* Feature section */
.images{
     width: 200px;
     padding: 3px;
    background-color: white;
}






























@media screen and (max-width:991px) {
   
}