/* Navbar section start */

.btn-green{
    background: #1090CB !important;
    color: white;


}
/* Navbar section end */


/* Hero section start */

.blue{
     color: #1090CB;
}
.btn-green{
    background: #1090CB !important;
    color: white;


}
.btn-white{
    background-color: white;
     color: #1090CB;
}

/* Hero section end */

/* Feature section */
.images{
     width: 200px;
     padding: 3px;
    background-color: white;
}




/* hero again start */

.alignimg{
  width: 300px;
 
}


.boxfit{
     width: 450px;
     display: flex;
     flex-direction: column;
     gap: 50px !important;
     padding: 33px;
}
.greybox{
    background-color: #F4F4F4;
     color: black;
    
}

.colorbox{
     color: black !important;
}

.bluebox{
    background-color: #1090CB;
    color: white;
    
}
.boxcolor{
    color: white !important;
}



.btnset{
 
  border: none;
  background-color: white;
}


.whitebtn{
     background-color: #1090CB;
}


.texter{
    text-align: center;
    padding: 20px;
}


.alignbtn{
    background-color: #1090CB;
}

.cardb{
    background-color: #1090CB;
    color: white;
}


.whitebcg{
    background-color: #FFFFFF;
    color: #1090CB !important;
}

.greybcg{
    background-color: #F4F4F4;
}

.lightbtn{
    text-align: center;
    align-items: center;
}

/* features pictures start */

.gridimg{
    width: 167px;
    background-color: white;
}




/* printing section start */
.section{
    background-color:#E8F4FA

}




/* printing section end */





































@media screen and (max-width:991px) {
   
}