/* Navbar section start */

.btn-green{
    background: #1090CB !important;
    color: white;


}
/* Navbar section end */


/* Hero section start */

.blue{
    color: blue;
}
.btn-green{
    background: #1090CB !important;
    color: white;


}
.btn-white{
    background-color: white;
    color: blue;
}

/* Hero section end */

/* Feature section */
.images{
     width: 200px;
     padding: 3px;
    background-color: white;
}




/* hero again start */

.imgfix{
  width: 300px;
 
}


.boxfit{
     width: 450px;
     display: flex;
     flex-direction: column;
     gap: 50px !important;
     padding: 33px;
}
.greybox{
    background-color: #F4F4F4;
     color: black;
    
}

.colorbox{
     color: black !important;
}

.bluebox{
    background-color: #1090CB;
    color: white;
    
}
.boxcolor{
    color: white !important;
}





































@media screen and (max-width:991px) {
   
}